html, body, header, .view {
    height: 100%;
}

@media (max-width: 740px){
    html, body, header, .view {
        height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px){
    html, body, header, .view {
        height: 600px;
    }
}

.btn .fa {
    margin-left: 3px;
}

.top-nav-collapse{
    background-color: #424f95;
}

.navbar:not(.top-nav-collapse){
    background: transparent;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #424f95;
    }
}

.btn-white{
    color: black;
}

h6 {
    line-height: 1.7;
}
