{% extends 'login_layout.html' %}
{% block header %}
    <h1>{% block title %}Sign Up Here{% endblock %}</h1>
{% endblock %}

{% block content %}
     <form action="{{ url_for('signup') }}" method="post">
        <label for="username">Username</label>
        <input name="username" id="username" placeholder="Enter your username" required>
        <label for="email">Email</label>
        <input name="email" id="email" type="email" placeholder="Enter your email" required>
        <label for="password">Password</label>
        <input name="password" type="password" id="password" placeholder="Enter your password" required>
        <label for="confirm_password">Confirm_password</label>
        <input name="confirm_password" type="password" id="confirm_password" placeholder="Confirm your password" required>
        <!-- When pass = confirm pass then the signup will work if not error message --->
        <input type="submit" value="SIGNUP">
    </form>
{% endblock %}