{% extends 'login_layout.html' %}
{% block header %}
    <h1>{% block title %}Forget Password?{% endblock %}</h1>
{% endblock %}
    <script>
        function Message(){
            alert('Check email for your password!');
        }
    </script>
{% block content %}

    <form action="{{ url_for('forget_password') }}" method="post">
        <label for="email">Email</label>
        <input name="email" id="email" placeholder="Enter your email" required>
        <input onclick="Message()" type="submit" value="Retrieve password">
    </form>
{% endblock %}
