<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Login Here</title>


    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static',filename='s/fonts/material-icon/css/material-design-iconic-font.min.css')}}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='s/css/style.css')}}">
</head>
<body>

    <div class="main">
        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}

        <div class="container">
            <div class="signup-content">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                <form action="{{ url_for('login') }}" method="POST" id="signup-form" class="signup-form" >
                    <h2>Login Here </h2>
                    <div class="form-group">
                        <input class="form-input" name="username" id="name" placeholder="Username" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="password" id="password" placeholder="Password"/>
                        <span  class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit submit" value="Login"/>
                        <a href="{{ url_for('profile') }}" class="submit-link submit">Guest Login</a>
                    </div>
                    <div class="form-group">
                        <ul>
                            <li><a href="{{ url_for('forget_password') }}">Forget Password?</a>
                            <li><a href="{{ url_for('signup') }}">Back?</a>
                        </ul>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <!-- JS -->

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

